header 
    nav 
        ul 
            li
                a(href="/") Home 
            li 
                a(href="/movies/discover/") Search Movies
            if loggedIn
                li 
                    a(href="/logout") logout
            else
                li 
                    a(href="/login") login 
                li 
                    a(href="/join") join